{% extends 'base.html' %}

{% block body_content %}
<body>

	<div id="body">
		<h1><span>faruk deniz tümay</span></h1>
		<div>
			<img src="images/photographer.jpg" alt="">
			<div class="article">
				<h3>Merhabalar, ben Psikolog Faruk Deniz Tümay. </h3>
				<p>
					Lisans eğitimimi İstanbul Kent Üniversitesi Psikoloji bölümde tam burslu okuyarak tamamladım. Şu anda Klinik Psikoloji bütünleşik programında yüksek lisans ve doktora çalışmalarıma Dublin Üniversitesi'nde devam etmekteyim. Çocuk, Genç ve Yetişkinlerle çalışmaktayım. Aktarım Odaklı Terapi, Bilişsel Davranışçı Terapi, Cinsel Terapi, Deneyimsel Oyun Terapisi ve aktif olarak devam ettiğim İstanbul Psikodrama Enstitüsüne bağlı Psikodramatik çalışmalarım ile danışanlarıma hizmet vermekteyim.
				</p>
				<h3> Burslu şekilde Yale ve John Hopkins gibi üniversitelerden eğitimler almış bulunmaktayım.</h3>
				<p>
					Avrupa Komisyonu tarafından belgelendirildiğim sosyal sorumluluk projesinde yer aldım. Çift Terapisi, Kaygı Bozuklukları, Paranoid kişilik bozukluğu, sizoid kişilik bozukluğu, sizotipal kişilik bozukluğu, antisosyal kişilik bozukluğu, boderline kişilik bozukluğu, histriyonik kişilik bozukluğu, narsisistik kişilik bozukluğu gibi birçok alanda terapi veriyorum
				</p>
				<h3>Unutmayın ki insan ilişkileri de hastalanır ve ilişkilerde şifalanır.</h3>
				<p>
					Bu yoldaki seçimlerimiz tesadüf olmaz. Bu yoldaki seçimleriniz ve aktarımlarınızla çalışarak bir danışan terapist ilişkisinde şifalanmanızı arzuluyorum. Daha iyi zamanlar için görüşmek üzere.
				</p>
			</div>
		</div>
	</div>

</body>
{% endblock %}


