{% extends 'base.html' %}

{% block body_content %}
<body>
	<div id="body">
		<h1><span>gallery single post</span></h1>
		<div>
			{% if photo_id=='photo1' %}
			<img src="static/images/s1.jpg" alt="">
			<div class="article">
				<h4>PRIM AND PROPER</h4>
				<p>
				Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
				</p>
			</div>




		</div>
	</div>

</body>

{% endblock %}
