{% extends 'base.html' %}

{% block body_content %}

<!--	DENEME-gallery-single-post.html'i ayarla: galeride tıknalına her foto detaylı bir şekilde gallerySingle/photoid? şeklinde açılsın ve altında açıklama olsun-->
<body>
	<div id="body">
		<h1><span>gallery</span></h1>
		<ul class="gallery">
			<li id="photo1">
				<a href="{{  url_for('gallery')  }}">
					<img src="static/images/s1.jpg" alt="">
				</a>
			</li>
			<!--<li id="photo2">
				<a href="{{  url_for('gallery')  }}">
					<img src="images/mustache2.jpg" alt="">
				</a>
			</li>
			<li id="photo3">
				<a href="{{  url_for('gallery')  }}">
					<img src="images/mustache3.jpg" alt="">
				</a>
			</li>
			<li id="photo4">
				<a href="{{  url_for('gallery')  }}">
					<img src="images/mustache4.jpg" alt="">
				</a>
			</li>
			<li id="photo5">
				<a href="DENEME-gallery-single-post.html">
					<img src="images/mustache5.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="DENEME-gallery-single-post.html">
					<img src="images/mustache6.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="DENEME-gallery-single-post.html">
					<img src="images/mustache7.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="DENEME-gallery-single-post.html">
					<img src="images/mustache8.jpg" alt="">
				</a>
			</li>
			<li>
				<a href="DENEME-gallery-single-post.html">
					<img src="images/mustache9.jpg" alt="">
				</a>
			</li>-->
		</ul>
	</div>

</body>
{% endblock %}

